{% load static %}
<footer class="usa-footer usa-footer--big">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>

  <div id="dol-footer-nav" class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="">
          <nav class="usa-footer__nav" aria-label="Footer navigation,,">
            <div class="grid-row grid-gap-4">
              <div class="tablet:grid-col">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <div
                    class="display-flex tablet:display-block dol-footer-seal margin-2"
                  >
                    <div class="dol-seal margin-right-2 tablet:margin-bottom-2">
                      <a href="/" title="Home"
                        ><img
                          class="width-9"
                          src="//www.dol.gov/themes/opa_theme/img/DOL-MasterLogo_BLUE.svg"
                          alt="United States Department of Labor"
                      /></a>
                    </div>
                    <div class="footer-seal-block">
                      <div class="dol-name-and-seal">
                        <span>U.S. Department of Labor</span>
                      </div>
                      <div id="block-footeraddress">
                        <div
                          class="field field--name-body field--type-text-with-summary field--label-hidden clearfix"
                        >
                          <div class="address">
                            <div class="address-block">
                              <div>200 Constitution Ave&nbsp;NW</div>
                              <div>Washington, DC 20210</div>
                            </div>
                            <div class="dol-phone-web">
                              <a
                                href="tel:1-866-487-2365"
                                onmousedown="_sendEvent('Telephone Clicks','1-866-487-2365','',0);"
                                ><div>1-866-4-USA-DOL</div>
                                <div>1-866-487-2365</div></a
                              >
                              <div>
                                <a href="https://www.dol.gov">www.dol.gov</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="tablet:grid-col">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <div class="usa-footer__primary-link">Federal Government</div>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="https://www.whitehouse.gov/">White House</a>
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="/coronavirus"> Coronavirus Resources </a>
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/stormrecovery"
                        >Severe Storm and Flood Recovery Assistance</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/disasterrecovery"
                        >Disaster Recovery Assistance</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="https://www.disasterassistance.gov/"
                        >DisasterAssistance.gov</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="https://www.usa.gov/">USA.gov</a>
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a
                        href="//www.dol.gov/agencies/oasam/centers-offices/civil-rights-center/resports/notification-and-federal-employee-antidiscrimination-retaliation-act-of-2002"
                        >No Fear Act Data</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="https://osc.gov/"
                        >U.S. Office of Special Counsel</a
                      >
                    </li>
                  </ul>
                </section>
              </div>

              <div class="tablet:grid-col">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <div class="usa-footer__primary-link">Labor Department</div>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/aboutdol">About DOL</a>
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/guidance">Guidance Search</a>
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a
                        href="//www.dol.gov/general/topic/spanish-speakingtopic"
                        >Español</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="https://www.oig.dol.gov/"
                        >Office of Inspector General</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a
                        href="https://public.govdelivery.com/accounts/USDOL/subscriber/new?topic_id=USDOL_167"
                        >Subscribe to the DOL Newsletter</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/newsroom/newsletter"
                        >Read the DOL Newsletter</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/easl"
                        >Emergency Accountability Status Link</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/siteindex">A to Z Index</a>
                    </li>
                  </ul>
                </section>
              </div>

              <div class="tablet:grid-col">
                <section
                  class="usa-footer__primary-content usa-footer__primary-content--collapsible"
                >
                  <div class="usa-footer__primary-link">About The Site</div>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/foia"
                        >Freedom of Information Act</a
                      >
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/disclaim">Disclaimers</a>
                    </li>

                    <li class="usa-footer__secondary-link">
                      <a href="//www.dol.gov/general/aboutdol/accessibility"
                        >Accessibility Statement</a
                      >
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__contact-links mobile-lg:grid-col-12">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--facebook"
                href="https://www.facebook.com/departmentoflabor"
                title="Department of Labor Facebook"
              >
                <span>Facebook</span>
              </a>
            </div>

            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--twitter"
                href="https://twitter.com/USDOL"
                title="Department of Labor Twitter"
              >
                <span>Twitter</span>
              </a>
            </div>

            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--youtube"
                href="https://www.youtube.com/user/USDepartmentofLabor"
                title="Department of Labor YouTube"
              >
                <span>YouTube</span>
              </a>
            </div>

            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--instagram"
                href="https://www.instagram.com/USDOL/"
                title="Department of Labor Instagram"
              >
                <span>Instagram</span>
              </a>
            </div>

            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--linkedin"
                href="https://www.linkedin.com/company/u-s-department-of-labor/"
                title="Department of Labor LinkedIn"
              >
                <svg
                  aria-hidden="true"
                  data-prefix="fab"
                  data-icon="linkedin"
                  class="svg-inline--fa fa-linkedin fa-w-18"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 576 512"
                  focusable="false"
                >
                  <path
                    fill="currentColor"
                    d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683 C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615 c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915 s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"
                  ></path>
                </svg>
                <span>LinkedIn</span>
              </a>
            </div>

            <div class="usa-width-one-half tablet:grid-col-8 dol-utility-menu">
              <div
                id="block-utilitymenu"
                class="utility-links-block d-flex utility_block"
              >
                <a href="//www.dol.gov/general/findit">Site Map</a>
                <a href="//www.dol.gov/general/aboutdol/website-policies"
                  >Important Website Notices</a
                >
                <a href="//www.dol.gov/general/privacynotice"
                  >Privacy & Security Statement</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
