{% load i18n %}
<div class="mobile-lg:grid-col-12">
  <h4 class="usa-accordion__heading">
    <button class="usa-accordion__button TEXT-UPPER" aria-controls="footer-nav-labor">{% translate "Labor Department" %}</button>
  </h4>
  <div id="footer-nav-labor" class="usa-accordion__content usa-prose">
    <ul class="usa-list usa-list--unstyled">
      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/general/aboutdol">{% translate "About DOL" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/guidance">{% translate "Guidance Search" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/general/topic/spanish-speakingtopic">{% translate "Español" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="https://www.oig.dol.gov/">{% translate "Office of Inspector General" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a
          href="https://public.govdelivery.com/accounts/USDOL/subscriber/new?topic_id=USDOL_167"
          >{% translate "Subscribe to the DOL Newsletter" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/newsroom/newsletter">{% translate "Read the DOL Newsletter" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/general/easl">{% translate "Emergency Accountability Status Link" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/general/siteindex">{% translate "A to Z Index" %}</a>
      </li>
    </ul>
  </div>
</div>
