{% load i18n %}
<div class="mobile-lg:grid-col-12">
  <h4 class="usa-accordion__heading">
    <button class="usa-accordion__button TEXT-UPPER" aria-controls="footer-nav-federal">{% translate "Federal Government" %}</button>
  </h4>
  <div id="footer-nav-federal" class="usa-accordion__content usa-prose">
    <ul class="usa-list usa-list--unstyled">
      <li class="usa-footer__secondary-link">
        <a href="https://www.whitehouse.gov/">{% translate "White House" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/coronavirus">{% translate "Coronavirus Resources" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/general/stormrecovery">{% translate "Severe Storm and Flood Recovery Assistance" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="//www.dol.gov/general/disasterrecovery">{% translate "Disaster Recovery Assistance" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="https://www.disasterassistance.gov/">DisasterAssistance.gov</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="https://www.usa.gov/">USA.gov</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a
          href="//www.dol.gov/agencies/oasam/centers-offices/civil-rights-center/resports/notification-and-federal-employee-antidiscrimination-retaliation-act-of-2002"
          >{% translate "No Fear Act Data" %}</a>
      </li>

      <li class="usa-footer__secondary-link">
        <a href="https://osc.gov/">{% translate "U.S. Office of Special Counsel" %}</a>
      </li>
    </ul>
  </div>
</div>
