{% load i18n %}
<section class="usa-footer__primary-content usa-footer__primary-content--collapsible border-top-0">
   <div class="display-flex tablet:display-block dol-footer-seal margin-y-2">
     <div class="dol-seal margin-right-2 tablet:margin-bottom-2">
       <a href="//www.dol.gov/" title="{% translate 'Home' %}"
         ><img
           class="width-15"
           src="//www.dol.gov/themes/opa_theme/img/DOL-MasterLogo_BLUE.svg"
           alt="{% translate 'United States Department of Labor' %}"
       /></a>
     </div>
     <div class="footer-seal-block">
       <div class="dol-name-and-seal">
         <span>{% translate "U.S. Department of Labor" %}</span>
       </div>
       <div id="block-footeraddress">
         <div>
           <div class="address font-sans-2xs line-height-sans-4">
             <div class="address-block">
               <div>200 Constitution Ave&nbsp;NW</div>
               <div>Washington, DC 20210</div>
             </div>
             <div class="dol-phone-web">
               <a
                 class="usa-link"
                 href="tel:1-866-487-2365"
                 onmousedown="_sendEvent('Telephone Clicks','1-866-487-2365','',0);"
                 ><div>1-866-4-USA-DOL</div>
                 <div>1-866-487-2365</div></a
               >
               <div>
                 <a class="usa-link" href="https://www.dol.gov">www.dol.gov</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</section>
