{% load static %}
{% load i18n %}
<footer class="usa-footer usa-footer--big">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">{% translate "Return to top" %}</a>
  </div>

  <div class="dol-footer-nav">
   <div class="grid-container">
    {% if show_navigation %}
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        <li class="grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{ home_path }}">
            {% translate "Home" %}
          </a>
        </li>
        {% if contact_us_path %}
        <li class="grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="{{ contact_us_path }}">
            {% translate "Contact us" %}
          </a>
        </li>
        {% endif %}
        {% if whoami %}
        <li class="grid-col-auto usa-footer__primary-content">
          <a href="/logout/" class="usa-footer__primary-link">{% translate "Logout" %}</a>
        </li>
        {% else %}
        <li class="grid-col-auto usa-footer__primary-content">
          <a href="/idp/" class="usa-footer__primary-link">{% translate "Sign in" %}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
   </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col-4">
          {% include "_footer-dol-seal-address.html" %}
        </div>
        <div class="tablet:grid-col-8 margin-top-2">
          <div class="usa-accordion" aria-multiselectable="true">
            {% include "_footer-nav-federal.html" %}
            {% include "_footer-nav-labor-dept.html" %}
            {% include "_footer-nav-about.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row">
        <div class="desktop:grid-col-6 tablet:grid-col-6">
          <div class="grid-row">
            <div class="dol-connect font-sans-2xs tablet-lg:grid-col-4 desktop:grid-col-3">{% translate "Connect with DOL" %}</div>
            <div class="grid-row grid-gap-1">
             {% include "_footer-social-media.html" %}
            </div>
          </div>
        </div>
        <div class="desktop:grid-col-6 tablet:grid-col-6">
          <div class="dol-util-links">
            <div class="font-sans-3xs">
              <ul class="usa-list usa-list--unstyled">
                <li><a href="//www.dol.gov/general/findit" class="usa-link">{% translate "Site Map" %}</a></li>
                <li><a href="//www.dol.gov/general/aboutdol/website-policies" class="usa-link">{% translate "Important Website Notices" %}</a></li>
                <li><a href="//www.dol.gov/general/privacynotice" class="usa-link">{% translate "Privacy & Security Statement" %}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
