    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-W66H9LT");

      // Shorthand script for reporting events
      window.sendToGA = function(event, options) {
        if (window.dataLayer) {
          window.dataLayer.push({event, ...options});
        } else {
          console.warn("event not queued:", event, options);
        }
      }

      // Basic error reporting
      window.onerror = function(err, file, line, col) {
        try {
          const msg = `${file}@${line}:${col}, ${err}`;
          sendToGA("JS_error", {msg});
        } catch(err) {
          console.error(err);
        }
      }
    </script>
    <!-- End Google Tag Manager -->
