{% load static %}
{% load i18n %}
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
 {% include "./uswds/_banner.html" %}
 <section role="banner" class="usa-banner dol-banner bg-primary-darker">
   <header class="usa-banner__header">
     <div class="usa-banner__inner">
       <a href="//www.dol.gov/">
         <div class="grid-col-auto">
           <img class="float-left height-205 margin-right-05" src="//dol.gov/themes/opa_theme/img/Agency_DOL_Logo_dark.svg"
                alt="{% translate 'United States Department of Labor' %}" />
         </div>
         <div class="grid-col-fill tablet:grid-col-auto padding-top-05">
           <p class="usa-banner__header-text usdol-title">
             <strong class="text-base-lightest TEXT-UPPER">{% translate "U.S. Department of Labor" %}</strong>
           </p>
         </div>
       </a>
     </div>
   </header>
 </section>
 {% if system_admin_message %}{% include '_system-admin-message.html' %}{% endif %}
 <div class="usa-nav-container">
  <div class="usa-navbar">
    <div class="usa-logo">
      <a href="/" class="navbar-brand" title="Home">
        <em class="usa-logo__text">{% translate appname %}</em>
      </a>
    </div>
    <button class="usa-menu-btn" type="button">{% translate "Menu" %}</button>
  </div>
  {% if show_navigation %}
  <nav aria-label="Primary navigation" class="usa-nav">
    <button class="usa-nav__close">
      <img src="{% static 'img/usa-icons/close.svg' %}" role="img" alt={% translate "Close" %} />
    </button>
    <ul class="usa-nav__primary usa-accordion">
      <li class="usa-nav__primary-item">
        <a href="{{ home_path }}"
           {% if current_path == home_path %}aria-current="page"i{% endif %}
           class="usa-nav__link {% if current_path == home_path %}usa-current{% endif %}"
           >{% translate "Home" %}</a>
      </li>
      <li class="usa-nav__primary-item">
        <a href="/about/"
           {% if current_path == "/about/" %}aria-current="page"i{% endif %}
           class="usa-nav__link {% if current_path == "/about/" %}usa-current{% endif %}"
           >{% translate "About" %}</a>
        </li>
      {% if whoami and contact_us_path %}
      <li class="usa-nav__primary-item">
        <a href="{{ contact_us_path }}"
           {% if current_path == contact_us_path %}aria-current="page"{% endif %}
           class="usa-nav__link {% if current_path == contact_us_path %}usa-current{% endif %}"
           >{% translate "Contact us" %}</a>
      </li>
      {% endif %}
      {% if whoami %}
      <li class="usa-nav__primary-item">
        <a href="/logout/" class="usa-nav__link">{% translate "Logout" %}</a>
      </li>
      {% else %}
      <li class="usa-nav__primary-item">
        <a href="/idp/"
           {% if current_path == "/idp/" %}aria-current="page"{% endif %}
           class="usa-nav__link {% if current_path == "/idp/" %}usa-current{% endif %}"
           >{% translate "Sign in" %}</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
 </div>
</header>
