{% load static %} {% load i18n %} {% include "./uswds/_banner.html" %}
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-mega-logo">
      <a href="/" class="navbar-brand" title="Home">
        <span class="dol-header-logo">
          <img class="not-responsive float-left logo"
          src="//www.dol.gov/themes/opa_theme/img/logo-primary.svg"
          alt={%translate "United States Department of Labor" %} title="Home" />
        </span>
        <em class="usa-logo__text"
          >{% translate "U.S. Department of Labor" %}</em
        >
      </a>
    </div>
    <button class="usa-menu-btn">{% translate "Menu" %}</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <!-- prettier-ignore -->
        <img src="{% static 'img/usa-icons/close.svg' %}" role="img"
             alt={% translate "Close" %} />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button
            class="usa-accordion__button usa-nav__link usa-current"
            aria-expanded="false"
            aria-controls="extended-nav-section-one"
          >
            <span>{% translate "Current section" %}</span>
          </button>

          <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#"> {% translate "&lt;Navigation link&lt;" %} </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">{% translate "&lt;Navigation link&gt;" %}</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">{% translate "&lt;Navigation link&gt;" %} </a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <button
            class="usa-accordion__button usa-nav__link"
            aria-expanded="false"
            aria-controls="extended-nav-section-two"
          >
            <span>{% translate "&lt;Section&gt;" %}</span>
          </button>

          <ul id="extended-nav-section-two" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#"> {% translate "&lt;Navigation link&gt;" %} </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#"> {% translate "&lt;Navigation link&gt;" %} </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#"> {% translate "&lt;Navigation link&gt;" %} </a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a href="javascript:void(0)" class="usa-nav__link">
            <span>{% translate "&lt;Simple link&gt;" %}</span>
          </a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href="">{% translate "&lt;Secondary link&gt;" %}</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">{% translate "&lt;Another secondary link&gt;" %}</a>
          </li>
        </ul>

        <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="extended-search-field-en-small">
            {% translate "Search" %}
          </label>
          <input
            class="usa-input"
            id="extended-search-field-en-small"
            type="search"
            name="search"
          />
          <button class="usa-button" type="submit">
            <span class="usa-sr-only">{% translate "Search" %}</span>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
