{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div>
  <h1>{% translate "Log in failed" %}</h1>
  <section>
    {% translate "Looks like something went wrong while you were trying to verify your identity with Login.gov." %}
  </section>

  <section>
    {% translate "Want to try again?" %}
    {% if swa %}
      <a href="/idp/{{ swa.code }}/" class="usa-link">{% translate "Log in here" %}</a>.
    {% else %}
      <a href="/idp/" class="usa-link">{% translate "Log in here" %}</a>.
    {% endif %}
  </section>

  <section>
    {% translate "If you’re having trouble accessing your account, you can get help if you" %}
    <a target="_blank" href="https://secure.login.gov/users/password/new" class="usa-link usa-link--external">{% translate "forgot your password" %}</a>,
    {% translate "or you may also" %}
    <a target="_blank" href="/logindotgov/profile/" class="usa-link usa-link--external">{% translate "reset your account" %}</a>.
  </section>

  {% if swa %}
  <section>
    {% include swa_login_help %}
  </section>
  {% endif %}
  <!-- dev help: {% translate error %} -->
</div>
{% endblock %}
