{% load static %} {% load i18n %}
<!DOCTYPE html5>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- prettier-ignore -->
    <title>
      {% translate "Unemployment Insurance Claim Application | U.S. Department of Labor" %}
    </title>
    <script src="{% static 'js/uswds-init.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/uswds.min.css' %}" />

    <style>
      #prequalification-form section {
        margin-top: 3rem;
      }
      img.logindotgov {
        height: 1rem;
        vertical-align: text-bottom;
      }
    </style>
  </head>
  <body>
    <script src="{% static 'js/uswds.min.js' %}"></script>
    <section>{% include '_claimant_header.html' %}</section>
    <section id="main-content">{% block content %}{% endblock %}</section>
    <section>{% include '_claimant_footer.html' %}</section>
  </body>
</html>
