{% extends "base.html" %} {% load i18n %} {% block content %}
<main role="main">
  <div class="grid-container">
    <h1>{% translate "Test Login" %}</h1>
    <div class="grid-row">
      <form class="usa-form usa-form--large" action="/login/" method="POST">
        <input
          type="hidden"
          name="csrfmiddlewaretoken"
          value="{{ csrf_token }}"
        />
        {% if swa_xid %}
        <input type="hidden" name="swa_xid" value="{{ swa_xid }}" />
        {% endif %}
        <fieldset class="usa-fieldset">
          <legend class="usa-legend usa-legend--large"></legend>
          <div class="clearfix"></div>

          <p>
            Required fields are marked with an asterisk (<abbr
              title="required"
              class="usa-hint usa-hint--required"
              >*</abbr
            >).
          </p>

          <label class="usa-label" for="IAL"
            >Identity Assurance Level (IAL)</label
          >
          <select
            id="IAL"
            name="IAL"
            class="usa-select"
            onchange="toggleRequiredFields(this.value)"
          >
            <option {% if not ial or ial == "1" %}selected{% endif %} value="1">1</option>
            <option {% if ial == "2" %}selected{% endif %} value="2">2</option>
          </select>

          <script type="text/javascript">
            const randomString = (length) => {
              let result = '';
              const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
              const charactersLength = characters.length;
              for ( let i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
              }
              return result;
            };

            const fakeUser = {
              first_name: "Fakey",
              last_name: "McFakerson",
              email: `fakey+${randomString(6)}@example.com`,
              phone: "555-555-1234",
              address: { address1: "123 Any St", address2: "Apt B", city: "Someplace", state: "KS", zipcode: "00000" },
              birthdate: "2000-01-01",
              ssn: "900-00-1234"
            };
            const populateWithFakeUser = () => {
              if (document.getElementById("IAL").value == "2") {
                Object.keys(fakeUser).forEach((attr) => {
                  if (attr === "address") {
                    Object.keys(fakeUser[attr]).forEach((addressAttr) => {
                      document.getElementById(`address.${addressAttr}`).value = fakeUser[attr][addressAttr];
                    });
                  } else if (!document.getElementById(attr).value) {
                    document.getElementById(attr).value = fakeUser[attr];
                  }
                });
              }
            };
          </script>

          <button onclick="populateWithFakeUser()" id="fake-user-button" class="usa-button usa-button--outline" type="button" data-testid="fake-user-button">
            Populate with Fake User
          </button>

          {% include "uswds/_swa_options.html" with swas=swas swa=swa onchange=False %}
          {% include "uswds/_text_field.html" with id="first_name" label="First Name" type="text" required=True %}
          {% include "uswds/_text_field.html" with id="last_name" label="Last Name" type="text" required=True %}
          {% include "uswds/_text_field.html" with id="email" label="Email" required=True type="email" disabled=whoami %}
          {% include "uswds/_text_field.html" with id="birthdate" label="Birthdate (YYYY-MM-DD)" type="date" required=True %}
          {% include "uswds/_text_field.html" with id="ssn" label="SSN (900-nn-nnnn or 666-nn-nnnn)" type="text" required=True pattern="^(900|666)-[0-9]{2}-[0-9]{4}$" %}
          {% include "uswds/_text_field.html" with id="phone" label="Phone (nnn-nnn-nnnn)" type="tel" required=True pattern="[0-9]{3}-?[0-9]{3}-?[0-9]{4}" %}
          {% include "uswds/_text_field.html" with id="address.address1" label="Address (1)" type="text" required=True %}
          {% include "uswds/_text_field.html" with id="address.address2" label="Address (2)" type="text" required=False %}
          {% include "uswds/_text_field.html" with id="address.city" label="City" type="text" required=True %}
          {% include "uswds/_dropdown.html" with options=states label=_("Select your state") default_option=None id="address.state" onchange=False required=True %}
          {% include "uswds/_text_field.html" with id="address.zipcode" label="ZIP Code (nnnnn)" type="text" required=True pattern="^[0-9]{5}" %}

         <script type="text/javascript">
            const IAL2_REQUIRED = ["phone", "ssn", "birthdate", "first_name", "last_name", "address.address1", "address.city", "address.state", "address.zipcode"];
            const IAL2_OPTIONAL = ["address.address2"]
            function toggleRequiredFields(ial) {
              IAL2_REQUIRED.forEach((field) => {
                const input = document.getElementById(field);
                const label = input.labels[0];
                const parentGroup = input.closest(".usa-form-group");
                if (ial === "1") {
                  input.required = false;
                  label.classList.remove("required");
                  parentGroup.classList.add("display-none");
                } else {
                  input.required = true;
                  label.classList.add("required");
                  parentGroup.classList.remove("display-none");
                }
              });
              IAL2_OPTIONAL.forEach((field) => {
                const input = document.getElementById(field);
                const parentGroup = input.closest(".usa-form-group");
                if (ial === "1") {
                  parentGroup.classList.add("display-none");
                } else {
                  parentGroup.classList.remove("display-none");
                }
              });
              const fakeUserButton = document.getElementById("fake-user-button");
              if (ial === "1") {
                fakeUserButton.classList.add("display-none");
              } else {
                fakeUserButton.classList.remove("display-none");
              }
            }
            // start with whatever is selected
            toggleRequiredFields(document.getElementById("IAL").value);
          </script>

          <div>
            <button class="usa-button" type="submit" data-testid="loginbutton">
              Login
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>
{% endblock %}
