<html>
 <head>
  <title>UI Test | Login</title>
  <style>
    label {
      display: block;
    }
  </style>
 </head>

 <body>
  <form action="/login/" method="POST">
   <fieldset>
     <legend>Test Login</legend>
     <label for="first_name">First Name</label>
     <input type="text" id="first_name" name="first_name" />
     <label for="last_name">Last Name</label>
     <input type="text" id="last_name" name="last_name" />
     <label for="email">Email</label>
     <input type="text" id="email" name="email" />

     <button type="submit">Login</button>
   </fieldset>
  </form>
 </body>

</html>
