{% extends "base.html" %} {% block content %}{% load i18n %}
<!-- prettier-ignore -->
<script type="text/JavaScript">
  // Redirect claimant if already completed prequal
  {% include "_has_completed_prequal.jssnip" %}
  if (hasCompletedPrequal()) {
    window.location.replace("/idp/");
  }

  // namespace just so we don't accidentally step on reserved words
  const USDOL = {
    prequalFields: {
      "live_in_us": "{% translate "State residence" %}",
      "swa_code": "{% translate "State" %}" ,
      "job_last_18mo": "{% translate "Recent employment" %}",
      "disabled": "{% translate "Disability" %}",
      "military_service": "{% translate "Military service" %}",
      "federal_employment": "{% translate "Federal employment" %}",
      "maritime_employment": "{% translate "Maritime employment" %}",
      "recent_disaster": "{% translate "Disaster" %}",
      "worked_other_state": "{% translate "Worked in another state" %}",
    },
    getUnansweredQuestions: (formData) => {
      let fieldsToCheck = Object.keys(USDOL.prequalFields);
      if (formData.get("live_in_us") === "no") {
        fieldsToCheck = fieldsToCheck.filter((item) => item !== "swa_code");
      }
      const emptyFields = fieldsToCheck.filter((field) => !formData.get(field));
      return emptyFields;
    },
    determineClaimantProceeds: (formData) => {
      // formData is in FormData object format
      const yesProceedsFields = [
        "live_in_us",
        "job_last_18mo",
      ];
      const noProceedsFields = [
        "recent_disaster",
        "disabled",
        "military_service",
        "federal_employment",
        "maritime_employment",
      ];

      let canProceed = true;

      const setCanProceed = (fields, deniedAnswer) => {
        fields.forEach((field) => {
          if (formData.get(field) === deniedAnswer) {
            canProceed = false;
          }
        });
      }
      setCanProceed(yesProceedsFields, "no");
      setCanProceed(noProceedsFields, "yes");

      if (!canProceed) {
        return false;
      }

      const allowedSwas = ["NJ", "AR"];
      if (!allowedSwas.includes(formData.get("swa_code"))) {
        return false;
      }

      if ((formData.get("swa_code") === "NJ") && (formData.get("worked_other_state") === "yes")) {
        return false;
      }

      return true;
    },
    onChangeLiveUSHandler: () => {
      const formData = new FormData(document.getElementById("prequalification-form"));
      const swaOptions = document.getElementById("swa-options")
      if (formData.get("live_in_us") === "yes") {
        if (swaOptions.classList.contains("display-none")){
          swaOptions.classList.remove("display-none");
        }
      } else {
        if (!swaOptions.classList.contains("display-none")){
          swaOptions.classList.add("display-none");
        }
      }
    },
    submitPrequalifications: () => {
      // always clear errors to start
      USDOL.clearErrors();

      const formData = new FormData(document.getElementById("prequalification-form"));
      const unanswered = USDOL.getUnansweredQuestions(formData);
      const errors = [];
      unanswered.forEach((field) => {
        errors.push(`${USDOL.prequalFields[field]} {% translate 'is required' %}`);
      });
      if (unanswered.length > 0){
        USDOL.showErrors(errors);
        USDOL.decorateRequiredFields(unanswered);
        return;
      }
      if (formData.get("live_in_us") === "no"){
        formData.delete("swa_code");
      }
      let formKeyValues = [];
      for (let pair of formData) {
        formKeyValues.push(pair)
      }

      const canProceed = USDOL.determineClaimantProceeds(formData);

      // TODO GA event

      if (canProceed) {
        {% include "_set_prequal_cookie.jssnip" %}
        const loginUrl = `/idp/?swa=${formData.get("swa_code")}`;
        window.location = loginUrl;
      } else {
        const swaUrl = `/swa-redirect/${formData.get("swa_code")}/`;
        window.location = swaUrl;
      }
    },
  };
</script>
<!-- prettier-ignore -->
<div class="grid-container">
    <main>
        <h1>{% translate "Let's get started" %}</h1>
        <form method="POST" class="dol-form usa-form--large" id="prequalification-form" onsubmit="return false">
          {% include './uswds/_alert_error.html' %}

          <section>
            <h2>{% translate "State residence" %}</h2>
            {% include './uswds/_yes_no_radio.html' with field_label=_("Do you currently live in the United States?") field_name="live_in_us" onchange="USDOL.onChangeLiveUSHandler" required=True %}
            <div class="display-none" id="swa-options">
              {% include './uswds/_combo_box.html' with dict_options=swas field_label=_("Select your state") field_name="swa_code" required=True %}
            </div>
          </section>

          <section>
            <h2>{% translate "Recent employment" %}</h2>
            {% include './uswds/_yes_no_radio.html' with field_label=_("Have you had a job during the last 18 months?") field_name="job_last_18mo" required=True %}
            <div class="margin-top-4">
              {% include './uswds/_yes_no_radio.html' with field_label=_("Have you worked in any state other than the state you currently live in the last 18 months (not including military service)?") field_name="worked_other_state" required=True %}
            </div>
          </section>

          <section>
            <h2>{% translate "Disaster" %}</h2>
            {% include './uswds/_yes_no_radio.html' with field_label=_("Have you been impacted by a recent natural disaster (like a hurricane or wildfire)?") field_name="recent_disaster" required=True %}
          </section>

          <section>
            <h2>{% translate "Disability" %}</h2>
            {% include './uswds/_yes_no_radio.html' with field_label=_("Are you currently disabled and unable to work?") field_name="disabled" required=True %}
          </section>

          <section>
            <h2>{% translate "Military service" %}</h2>
            {% include './uswds/_yes_no_radio.html' with field_label=_("Have you served in the United States military in the last 18 months?") field_name="military_service" required=True %}
          </section>

          <section>
            <h2>{% translate "Federal employment" %}</h2>
            {% include './uswds/_yes_no_radio.html' with field_label=_("Have you worked for the federal government in the last 18 months (not including military service)?") field_name="federal_employment" required=True %}
          </section>

          <section>
            <h2>{% translate "Maritime employment" %}</h2>
            {% include './uswds/_yes_no_radio.html' with field_label=_("Have you worked for a maritime employer in the last 18 months (for example, did you work on a ship or in a harbor)?") field_name="maritime_employment" required=True %}
          </section>

          <section class="text-center">
            <a href="/" class="usa-button usa-button--outline">{% translate "Back" %}</a>
            <button type="submit" class="usa-button" onclick="USDOL.submitPrequalifications()">{% translate "Next" %}</button>
          </section>
        </form>
    </main>
</div>
{% endblock %}
