{% extends "base.html" %} {% block content %} {% load i18n %}
<main role="main" class="">
  <section class="grid-container">
    <h1>{% translate "Apply through" %} {% if swa %}the {{ swa.name }} system{% else %}{% translate "your state unemployment system" %}{% endif %}</h1>
    {% if swa and swa.claimant_url %}
      {% blocktranslate with name=swa.name %}
      Based on the information you provided, you’ll need to complete your application using the existing {{ name }} unemployment insurance system.
      {% endblocktranslate %}
    {% else %}
      {% translate "Based on the information you provided, you'll need to complete your application using your state's existing unemployment insurance system." %}
    {% endif %}

    {% if swa and swa.code == "NJ" %}
    <section class="margin-top-2">
      {% translate "Once you’ve created your account, you may need to re-share some of the information you just provided." %}
    </section>
    {% endif %}

    {% if not swa %}
    <section class="margin-top-2">
      {% translate "Click next to find unemployment resources for your state." %}
    </section>
    {% endif %}

    <section class="margin-top-2 text-center">
      {% if swa and swa.claimant_url %}
      <a class="usa-button" href="{{ swa.claimant_url }}">{% translate "Next" %}</a>
      {% else %}
      <a class="usa-button" href="https://www.careeronestop.org/LocalHelp/UnemploymentBenefits/find-unemployment-benefits.aspx">{% translate "Next" %}</a>
      {% endif %}
    </section>
  </section>
</main>
{% endblock %}
