{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="grid-container">
  <main id="what-to-expect">
    <h1>{% translate "Welcome to a new way to apply for unemployment benefits" %}</h1>
    {% include './uswds/_alert_error.html' %}
    <section>
      {{ swa.name }} {% translate "and the United States Department of Labor invite you to be among the first to try the new APPNAME HERE" %}
    </section>
    <section>
      {% translate "This process requires access to a computer or smartphone to complete. You will need to be able to:" %}
      <ul class="usa-list">
        <li>{% translate "Upload an image of your state-issued ID and a photo of yourself to verify your identity with Login.gov" %}</li>
        <li>{% translate "Verify your phone number, email address, and physical address" %}</li>
        <li>{% translate "Fill out an application online, including providing recent work history and employment details" %}</li>
      </ul>
    </section>

    <script type="text/javascript">
      if (typeof USDOL === "undefined") { USDOL = {} }
      USDOL.handleUseAppSelection = () => {
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (proceed === "no") {
          form.action = "{{ swa.claimant_url }}";
        } else {
          form.action = "{{ base_url }}/prequal/";
        }
      };
      USDOL.handleNext = () => {
        USDOL.clearErrors();
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (!proceed) {
          USDOL.showErrors(["{% translate "Please make a selection" %}"]);
          USDOL.decorateRequiredFields(["use-app"]);
          return false;
        } else {
          USDOL.clearErrors();
          return true;
        }
      };
    </script>

    <section class="padding-2 bg-accent-cool-lighter">
      <form id="use-app-form" class="dol-form" method="GET" action="#" onsubmit="return USDOL.handleNext()">
        <fieldset class="usa-fieldset">
          <legend class="usa-legend">{% translate "Do you wish to apply for unemployment benefits using APPNAME HERE system?" %}</legend>
          <input type="hidden" name="swa" id="swa" value="{{ swa.code }}" />
          <div class="usa-form-group">
            <div class="usa-radio display-inline-block margin-right-8">
              <input
                class="usa-radio__input"
                id="use-app.yes"
                type="radio"
                name="use-app"
                value="yes"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.yes">
                <strong>{% translate "Yes" %}</strong>, {% translate "I want to apply with APPNAME HERE" %}
              </label>
            </div>
            <div class="usa-radio display-inline-block">
              <input
                class="usa-radio__input"
                id="use-app.no"
                type="radio"
                name="use-app"
                value="no"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.no" >
                <strong>{% translate "No" %}</strong>, {% blocktranslate with swa_name=swa.name %}I want to use the regular {{swa_name}} application{% endblocktranslate %}
              </label>
            </div>
          </div>
        </fieldset>
        <div class="margin-top-2 text-center">
          <button class="usa-button" type="submit" onclick="USDOL.handleNext()">{% translate "Next" %}</button>
        </div>
      </form>
    </section>

    <section>
      {% translate "Using APPNAME HERE will not affect your ability to receive unemployment benefits and does not imply preferential treatment for your application." %}
    </section>
  </main>
</div>
{% endblock %}
