{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="grid-container">
  <main id="what-to-expect">
    <h1>{% translate "Apply for unemployment benefits" %}</h1>
    {% include './uswds/_alert_error.html' %}
    <section>
      {% translate "We invite you to try using APPNAME HERE — a new, user-friendly way to apply for unemployment insurance." %}
    </section>
    <section>
      {% translate "To use it, you need to:" %}
      <ul class="usa-list">
        <li>{% translate "Upload an image of your state-issued ID and a photo of yourself to verify your identity with Login.gov" %}</li>
        <li>{% translate "Verify your phone number, email address, and physical address" %}</li>
        {% if not swa_is_identity_only %}
        <li>{% translate "Fill out an application online, including providing recent work history and employment details" %}</li>
        {% endif %}
      </ul>
    </section>

    <script type="text/javascript">
      if (typeof USDOL === "undefined") { USDOL = {} }
      USDOL.handleUseAppSelection = () => {
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (proceed === "no") {
          form.action = "{{ swa.claimant_url }}";
        } else {
          {% if swa_is_identity_only %}
          form.action = "{{ base_url }}/idp/{{ swa.code }}/";
          {% else %}
          form.action = "{{ base_url }}/start/";
          {% endif %}
        }
      };
      USDOL.handleNext = () => {
        USDOL.clearErrors();
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (!proceed) {
          USDOL.showErrors(["{% translate "Please make a selection" %}"]);
          USDOL.decorateRequiredFields(["use-app"]);
          return false;
        } else {
          USDOL.clearErrors();
          USDOL.passThroughParams(form);
          {% if swa_is_identity_only %}
          // Set cookie to say we passed so that /idp/ page knows it's ok to proceed
          const maxAge = 60 * 60 * 24 * 7;
          document.cookie = `prequal_complete=true; max-age=${maxAge}; path=/; secure`
          {% endif %}
          return true;
        }
      };
    </script>

    <section class="padding-2 bg-accent-cool-lighter">
      <form id="use-app-form" class="dol-form" method="GET" action="#" onsubmit="return USDOL.handleNext()">
        <fieldset class="usa-fieldset">
          {% if swa_is_identity_only %}
          <legend class="usa-legend">{% translate "Do you wish to verify your identity using APPNAME HERE system?" %}</legend>
          {% else %}
          <legend class="usa-legend">{% translate "Do you wish to apply for unemployment benefits using APPNAME HERE system?" %}</legend>
          {% endif %}
          <input type="hidden" name="swa" id="swa" value="{{ swa.code }}" />
          <div class="usa-form-group">
            <div class="usa-radio display-inline-block margin-right-8">
              <input
                class="usa-radio__input"
                id="use-app.yes"
                type="radio"
                name="use-app"
                value="yes"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.yes">
                <strong>{% translate "Yes" %}</strong>,
                {% if swa_is_identity_only %}
                  {% translate "I want to verify my identity with APPNAME HERE" %}
                {% else %}
                  {% translate "I want to apply with APPNAME HERE" %}
                {% endif %}
              </label>
            </div>
            <div class="usa-radio display-inline-block">
              <input
                class="usa-radio__input"
                id="use-app.no"
                type="radio"
                name="use-app"
                value="no"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.no" >
                <strong>{% translate "No" %}</strong>, {% blocktranslate with swa_name=swa.name %}I want to use the regular {{swa_name}} application{% endblocktranslate %}
              </label>
            </div>
          </div>
        </fieldset>
        <div class="margin-top-2 text-center">
          <button class="usa-button" type="submit" onclick="USDOL.handleNext()">{% translate "Next" %}</button>
        </div>
      </form>
    </section>

    <section>
      {% translate "Using APPNAME HERE will not affect your ability to receive unemployment benefits. State staff will process your application following all applicable laws and regulations." %}
    </section>
  </main>
</div>
{% endblock %}
