{% extends "base.html" %}
{% block content %}
{% load i18n %}
<main role="main" class="">
  <section class="grid-container">
  {% if swa %}
    {% include swa_redirect %}
  {% else %}
    <h1>{% translate "Apply through your state unemployment system" %}</h1>
    <section>
    {% translate "Based on the information you provided, you'll need to complete your application using your state's existing unemployment insurance system." %}
    </section>

    <section>
    {% translate "Click next to find unemployment resources for your state." %}
    </section>

    <section class="text-center">
      <a class="usa-button" href="https://www.careeronestop.org/LocalHelp/UnemploymentBenefits/find-unemployment-benefits.aspx">{% translate "Next" %}</a>
    </section>
  {% endif %}
  </section>
</main>
{% endblock %}
