{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div id="what-to-expect">
    <h1>{% translate "Verify your identity online with Login.gov" %}</h1>
    {% include './uswds/_alert_error.html' %}
    <section>
      {% translate "Using Login.gov may be faster and more convenient than visiting a local unemployment insurance office. It is a secure way for you to verify your identity online." %}
    </section>
    {% include "identity/requirements.html" %}
    <section>
      <strong>{% translate "You must verify your identity within seven (7) calendar days of submitting your application in order to process your claim." %}</strong>
    </section>

    <script type="text/javascript">
      if (typeof USDOL === "undefined") { USDOL = {} }
      USDOL.requireSwaXid();
      USDOL.handleUseAppSelection = () => {
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (proceed === "no") {
          form.action = "{{ base_url }}/swa-redirect/{{ swa.code }}/";
        } else {
          form.action = "{{ base_url }}/idp/{{ swa.code }}/";
        }
      };
      USDOL.handleNext = () => {
        USDOL.clearErrors();
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (!proceed) {
          USDOL.showErrors(["{% translate "Please make a selection" %}"]);
          USDOL.decorateRequiredFields(["use-app"]);
          return false;
        } else {
          USDOL.clearErrors();
          USDOL.passThroughParams(form);
          {% include "_set_prequal_cookie.jssnip" %}
          return true;
        }
      };
    </script>

    <section class="padding-2 bg-accent-cool-lighter">
      <form id="use-app-form" class="dol-form" method="GET" action="#" onsubmit="return USDOL.handleNext()">
        <fieldset class="usa-fieldset">
          <legend class="usa-legend">{% translate "Would you like to verify your identity online?" %}</legend>
          <input type="hidden" name="swa" id="swa" value="{{ swa.code }}" />
          <div class="usa-form-group">
            <div class="usa-radio display-inline-block margin-right-8">
              <input
                class="usa-radio__input"
                id="use-app.yes"
                type="radio"
                name="use-app"
                value="yes"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.yes">
                <strong>{% translate "Yes" %}</strong>, {% translate "I want to verify my identity with Login.gov" %}
              </label>
            </div>
            <div class="usa-radio display-inline-block">
              <input
                class="usa-radio__input"
                id="use-app.no"
                type="radio"
                name="use-app"
                value="no"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.no" >
                <strong>{% translate "No" %}</strong>, {% translate "I want to verify my identity in-person at a local office" %}
              </label>
            </div>
          </div>
        </fieldset>
        <div class="margin-top-2 text-center">
          <button class="usa-button" type="submit" onclick="USDOL.handleNext()">{% translate "Next" %}</button>
        </div>
      </form>
    </section>

    <section>
      {% blocktranslate %}
      Using {{ appname }} will not affect your ability to receive unemployment benefits. State staff will process your application following all applicable laws and regulations.
      {% endblocktranslate %}
    </section>

    <section>
      {% include swa_contact %}
    </section>
</div>
{% endblock %}
