{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div id="missing-swa-xid" aria-hidden="true" class="display-none">
 {% include "_missing-swa-xid-content.html" %}
</div>
<div id="start-identity-only" aria-hidden="true" class="display-none">
    <h1>{% translate "Verify your identity online with Login.gov" %}</h1>
    {% include './uswds/_alert_error.html' %}
    <section>
      {% translate "Using Login.gov may be faster and more convenient than visiting a local unemployment insurance office. It is a secure way for you to verify your identity online." %}
    </section>

    <section>
    {% translate "You will need to have these items to verify your identity online with Login.gov:" %}
    {% include "identity/requirements.html" %}
    </section>

    <section>
      <strong>{% translate "Please verify your identity within 7 calendar days of submitting your application." %}</strong>
    </section>

    <script type="text/javascript">
      USDOL.requireSwaXid();
      const errorDiv = document.getElementById("form-errors");
      const alertDiv = errorDiv.getElementsByClassName("usa-alert")[0];
      if (alertDiv) {
        const errorPage = document.getElementById("missing-swa-xid");
        errorPage.classList.remove("display-none");
        errorPage.removeAttribute("aria-hidden");
      } else {
        const startPage = document.getElementById("start-identity-only");
        startPage.classList.remove("display-none");
        startPage.removeAttribute("aria-hidden");
      }
      USDOL.handleUseAppSelection = () => {
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (proceed === "no") {
          form.action = "{{ base_url }}/swa-redirect/{{ swa.code }}/";
        } else {
          form.action = "{{ base_url }}/idp/{{ swa.code }}/";
        }
      };
      USDOL.handleNext = () => {
        USDOL.clearErrors();
        const form = document.getElementById("use-app-form");
        const formData = new FormData(form);
        const proceed = formData.get("use-app");
        if (!proceed) {
          USDOL.showErrors(['{% translate "Please make a selection" %}']);
          USDOL.decorateRequiredFields(["use-app"]);
          return false;
        } else {
          window.sendToGA(proceed === "yes"?
            "{{ swa.code }}_verify_online" : "{{ swa.code }}_verify_inperson");
          USDOL.clearErrors();
          USDOL.passThroughParams(form);
          {% include "_set_prequal_cookie.jssnip" %}
          return true;
        }
      };
    </script>

    <section>
      {% blocktranslate with swa_name=swa.fullname %}
      If you verify your identity online, that information will be shared with the <strong>U.S. Department of Labor</strong> and the <strong>{{ swa_name }}</strong>.
      {% endblocktranslate %}
    </section>

    <section class="padding-2 bg-accent-cool-lighter">
      <form id="use-app-form" class="dol-form" method="GET" action="#" onsubmit="return USDOL.handleNext()">
        <fieldset class="usa-fieldset">
          <legend class="usa-legend">{% translate "Would you like to verify your identity online?" %}</legend>
          <input type="hidden" name="swa" id="swa" value="{{ swa.code }}" />
          <div class="usa-form-group">
            <div class="usa-radio display-inline-block margin-right-8">
              <input
                class="usa-radio__input"
                id="use-app.yes"
                type="radio"
                name="use-app"
                value="yes"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.yes">
                <strong>{% translate "Yes" %}</strong>, {% translate "I want to verify my identity with Login.gov" %}
              </label>
            </div>
            <div class="usa-radio display-inline-block">
              <input
                class="usa-radio__input"
                id="use-app.no"
                type="radio"
                name="use-app"
                value="no"
                required
                onchange="USDOL.handleUseAppSelection()"
              />
              <label class="usa-radio__label" for="use-app.no" >
                <strong>{% translate "No" %}</strong>, {% translate "I want to verify my identity in-person at a local office" %}
              </label>
            </div>
          </div>
        </fieldset>
        <div class="margin-top-2 text-center">
          <button class="usa-button" type="submit">{% translate "Next" %}</button>
        </div>
      </form>
    </section>

    <section>
      {% blocktranslate %}
      The method you choose to verify your identity will not affect your ability to receive unemployment benefits.
      State staff will process your application following all applicable laws and regulations.
      {% endblocktranslate %}
    </section>

    <section>
      <section>{% translate "Here's how to reach us if you have questions about unemployment benefits or need help with verifying your identity:" %}</section>
      {% include swa_contact %}
    </section>
</div>
{% endblock %}
