__pycache__
*.swp
.venv
node_modules
.env
*.pem
certs/
.coverage
coverage.xml
static/
!reference/static/
*.mo
.DS_Store
core/ld-config.json
celerybeat-schedule

tmp/

# IDE configurations
.idea
.vscode