{% extends "base.html" %}
{% block content %}
{% load i18n %}

<script>
  const xid = "{{ claim.swa_xid }}";
  window.sendToGA("{{ claim.swa.code }}_IAL1", {xid})
</script>
<div>
  <h1>{% translate "Welcome" %}</h1>

  {% if ial2error %}
    <div class="usa-alert usa-alert--error usa-alert--slim">
      <div class="usa-alert__body">
        <p class="usa-alert__text">{% translate "An error occured while trying to verify your information. Please try again." %}</p>
      </div>
    </div>
  {% endif %}

  <section>
    {% blocktranslate %}
    You will need to verify your identity within <strong>7 calendar days</strong>
    of submitting your application in order to process your claim.
    {% endblocktranslate %}
  </section>

  <div class="grid-row grid-gap">
    <section class="tablet:grid-col">
      <div
        class="border-2px border-base-lightest padding-2 bg-gray-5"
      >
        <h2 class="margin-0">{% translate "Verify your identity" %}</h2>
        <p class="display-flex flex-align-center">
          <span><span class="text-bold">{% translate "Status:" %}</span> {% translate "Not started" %}</span>
        </p>
        <p>
          {% translate "Verifying your identity with Login.gov speeds up processing time for your application and helps make sure your benefits payments are secure." %}
        </p>
        <div class="text-center">
          <a
            class="usa-button margin-x-auto"
            href="{{ idp_url }}/?ial=2&amp;swa_code={{ whoami.swa.code }}"
            onclick="sendToGA('{{ whoami.swa.code }}_begin_IAL2')"
          >{% translate "Start ID verification" %}</a>
        </div>
      </div>
    </section>

    <section class="tablet:grid-col">
      <h3 class="text-normal margin-top-0">{% translate "You will need to have these items to verify your identity online with Login.gov:" %}</h3>
      {% include "identity/requirements.html" %}
    </section>
  </div>

  <section>
    <h2>{% translate "Other ways to verify your identity" %}</h2>
    {% include other_ways_to_verify_identity %}
  </section>

  <section>
    <h2>{% translate "More information" %}</h2>
    {% include more_help %}
  </section>
</div>
{% endblock %}
