{% block content %}
{% load i18n %}
<section>
  <ul class="usa-list">
    <li>{% translate "Email address" %}</li>
    <li>{% translate "Your state-issued ID" %}</li>
    <li>{% translate "A phone or computer with a camera to take and upload a photo of your ID" %}</li>
    <li>{% translate "Your Social Security number" %}</li>
    <li>{% translate "A phone number on a phone plan in your name. (If you don't have a phone plan in your name, we can mail you a verification code, which will take 3-5 days.)" %}</li>
  </ul>
</section>
{% endblock %}
