{% load i18n %}
<div id="form-errors"></div>
<script type="text/javascript">
  if (typeof USDOL === "undefined") { USDOL = {} }
  USDOL.allowedParams = ["swa_xid"];
  USDOL.appendParamsToLinks = () => {
    const params = new URLSearchParams(window.location.search);
    const links = document.getElementsByTagName("a");
    USDOL.allowedParams.forEach((param) => {
      if (!params.has(param)) {
        return;
      }
      const value = params.get(param).replace(/[^\w\-\.]+/g, "");
      Array.from(links).forEach((link) => {
        if (link.href.match(/\?/)) {
          link.setAttribute("href", link.href + `&${param}=${value}`);
        } else {
          link.setAttribute("href", link.href + `?${param}=${value}`);
        }
      });
      // also set a cookie with this value, in case we navigate away from our site and lose the params.
      const maxAge = 60 * 60 * 24 * 7;
      document.cookie = `${param}=${value}; max-age=${maxAge}; path=/; secure; SameSite=Lax`;
    });
  };
  USDOL.requireSwaXid = () => {
    const params = new URLSearchParams(window.location.search);
    const cookies = document.cookie.split("; ");
    if (!params.has("swa_xid") && !cookies.some((row) => row.startsWith("swa_xid="))) {
      const errEl = document.createElement("div");
      const text = document.createTextNode("{% translate 'Missing swa_xid -- check your URL' %}");
      errEl.appendChild(text);
      USDOL.showAlert(errEl);
    }
    const swaXid = params.get("swa_xid") || cookies.find((row) => row.startsWith("swa_xid="));
    // TODO this regex is AR specific. generalize like backend does.
    if (swaXid && !swaXid.match(/^\d{8}-\d{6}-\d{7}-\d{9}$/)) {
      const errEl = document.createElement("div");
      const text = document.createTextNode("{% translate 'Malformed swa_xid -- check your typing' %}");
      errEl.appendChild(text);
      USDOL.showAlert(errEl);
    }
  };
  USDOL.passThroughParams = (form) => {
    const params = new URLSearchParams(window.location.search);
    USDOL.allowedParams.forEach((param) => {
      if (!params.has(param)) {
        return;
      }
      if (document.getElementById(param)) {
        return;
      }
      const value = params.get(param).replace(/[^\w\-\.]+/g, "");
      const hiddenInput = document.createElement("input");
      hiddenInput.setAttribute("type", "hidden");
      hiddenInput.id = param;
      hiddenInput.setAttribute("name", param);
      hiddenInput.setAttribute("value", value);
      form.appendChild(hiddenInput);
    });
  };
  USDOL.showAlert = (errElement) => {
    const errorDiv = document.getElementById("form-errors");
    // always start fresh
    errorDiv.innerHTML = "";
    // create alert div
    const alertDiv = document.createElement("div");
    alertDiv.classList.add("usa-alert", "usa-alert--error", "usa-alert--slim");
    alertDiv.setAttribute("role", "alert");
    alertDiv.dataset.testid = "form-errors-alert";
    const alertBody = document.createElement("div");
    alertBody.classList.add("usa-alert__body");
    const alertText = document.createElement("div");
    alertText.classList.add("usa-alert__text");
    alertText.appendChild(errElement);
    alertBody.appendChild(alertText);
    alertDiv.appendChild(alertBody);
    errorDiv.appendChild(alertDiv);
  };
  USDOL.showErrors = (errors) => {
    const msgSingular = "{% translate "Correct the error on this page to proceed" %}";
    const msgPlural = "{% translate "Correct the {count} errors on this page to proceed" %}".replace("{count}", errors.length);
    const errEl = document.createElement("div");
    const text = document.createTextNode(errors.length === 1 ? msgSingular : msgPlural);
    errEl.appendChild(text);
    USDOL.showAlert(errEl);
  };
  USDOL.clearErrors = () => {
    const errorDiv = document.getElementById("form-errors");
    const alertDiv = errorDiv.getElementsByClassName("usa-alert")[0];
    if (alertDiv) {
      alertDiv.remove();
    }
    const errorMarkedSections = document.getElementsByClassName("usa-form-group--error");
    Array.from(errorMarkedSections).forEach((section) => {
      const errs = section.getElementsByClassName("usa-error-message");
      Array.from(errs).forEach((err) => err.remove());
      section.classList.remove("usa-form-group--error");
      Array.from(section.getElementsByTagName("input")).forEach((input) => {
        input.removeAttribute("aria-invalid");
      });
    });
  };
  USDOL.clearFieldError = (field) => {
    const parentSection = field.closest(".usa-form-group--error");
    Array.from(document.getElementsByName(field.name)).forEach((input) => {
      input.removeAttribute("aria-invalid");
      // the visible error message is tied to only one input (the field)
      // but user may have clicked on its sibling to trigger the clear
      const err = document.getElementById(`${input.name}-error`);
      if (err) {
        err.remove();
      }
    });
    // clear ancestor decorations
    if (parentSection) {
      const sectionErrors = parentSection.getElementsByClassName("usa-error-message");
      if (!sectionErrors || sectionErrors.length === 0) {
        parentSection.classList.remove("usa-form-group--error");
      }
    }
    if (document.getElementsByClassName("usa-error-message").length === 0) {
      USDOL.clearErrors();
    } else {
      // redraw for updated count
      const newCount = document.getElementsByClassName("usa-error-message").length;
      const errorStubs = []; // we just need a placeholder for counting
      for (let i = 0; i < newCount; i++) {
        errorStubs.push("error");
      }
      USDOL.showErrors(errorStubs);
    }
  };
  USDOL.decorateRequiredFields = (requiredFields) => {
    requiredFields.forEach((name) => {
      const fields = document.getElementsByName(name);
      // use the first one only to get related elements
      const field = fields[0];
      const parentSection = field.closest("section");
      const parentGroup = field.closest(".usa-form-group");
      const parentFieldset = field.closest("fieldset");
      const err = document.createElement("span");
      err.classList.add("usa-error-message");
      err.classList.add("margin-top-2");
      err.setAttribute("id", `${name}-error`);
      err.setAttribute("role", "alert");
      const errMsg = document.createTextNode("{% translate "This field is required" %}");
      err.appendChild(errMsg);
      if (parentFieldset) {
        parentFieldset.classList.add("usa-form-group--error");
      } else {
        parentGroup.classList.add("usa-form-group--error");
      }
      parentGroup.appendChild(err);
      // set aria on all fields
      Array.from(fields).forEach((f) => {
        f.setAttribute("aria-required", "true");
        f.setAttribute("aria-invalid", "true");
        if (f.tagName === "INPUT") {
          f.onclick = () => USDOL.clearFieldError(f);
        } else if (f.tagName === "SELECT") {
          f.onchange = () => USDOL.clearFieldError(f);
        }
      });
    });
    // focus on the "first" error
    const errors = document.getElementsByClassName("usa-form-group--error");
    if (errors.length) {
      errors[0].scrollIntoView({ behavior: "smooth" });
    } else {
      document.getElementById("form-errors").scrollIntoView({ behavior: "smooth" });
    }
  };
</script>
