{% load static %} {% load i18n %}
<!-- prettier-ignore -->
<a class="usa-skipnav" href="#main-content">{% translate "Skip to main content" %}</a>
<section role="banner" aria-label="Test website">
  <div
    class="padding-1 bg-secondary-darker text-white line-height-1 text-center"
  >
    <!-- prettier-ignore -->
    {% translate "TEST SITE - Do not use real personal information (demo purposes only) - TEST SITE" %}
  </div>
</section>
<section
  role="banner"
  class="usa-banner"
  aria-label="Official government website"
>
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <!-- prettier-ignore -->
          <img
            class="usa-banner__header-flag"
            src="{% static 'img/us_flag_small.png' %}"
            alt="{% translate "U.S. flag" %}"
          />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">
            {# Translators: official website of US government banner #}
            <!-- prettier-ignore -->
            {% translate "An official website of the United States government" %}
          </p>
          <p class="usa-banner__header-action" aria-hidden="true">
            {% translate "Here’s how you know" %}
          </p>
        </div>
        <button
          class="usa-accordion__button usa-banner__button"
          aria-expanded="false"
          aria-controls="gov-banner"
        >
          <span class="usa-banner__button-text"
            >{% translate "Here’s how you know" %}</span
          >
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-banner__icon usa-media-block__img"
            src="{% static 'img/icon-dot-gov.svg' %}"
            role="img"
            alt=""
            aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong>{% translate "Official websites use .gov" %}</strong>
              <br />
              {% blocktranslate trimmed %} A <strong>.gov</strong> website
              belongs to an official government organization in the United
              States. {% endblocktranslate %}
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-banner__icon usa-media-block__img"
            src="{% static 'img/icon-https.svg' %}"
            role="img"
            alt=""
            aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong>{% translate "Secure .gov websites use HTTPS" %} </strong>
              <br />
              {% blocktranslate %}A <strong>lock</strong>{% endblocktranslate %}(
              <span class="icon-lock"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="52"
                  height="64"
                  viewBox="0 0 52 64"
                  class="usa-banner__lock-image"
                  role="img"
                  aria-labelledby="banner-lock-title banner-lock-description"
                  focusable="false"
                >
                  <title id="banner-lock-title">{% translate "Lock" %}</title>
                  <desc id="banner-lock-description">
                    {% translate "A locked padlock" %}
                  </desc>
                  <path
                    fill="#000000"
                    fill-rule="evenodd"
                    d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                  /></svg
              ></span>
              ) {% blocktranslate %}
              or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.
              {% endblocktranslate %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
