<!-- prettier-ignore -->
<div class="usa-form-group">
    <label class="usa-label {% if required %}required{% endif %}" for="{{ id }}">
      {{ label }}
      {% if required %}
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
      {% endif %}
    </label>
    <!-- prettier-ignore -->
    {% if disabled %}
    <input type="hidden" value="{{ disabled|get_dictionary_value:id }}" name="{{ id }}" />
    {% endif %}
    <input {% if disabled %}value="{{ disabled|get_dictionary_value:id }}" disabled{% endif %}
           {% if required %}required{% endif %}
           class="usa-input"
           type="{{ type|default:'text' }}"
           id="{{ id }}"
           name="{{ id }}"
           />
</div>
