{% load i18n %}
<fieldset class="usa-fieldset border-0">
  <legend class="usa-legend">{% translate field_label %}</legend>
  <div class="usa-form-group">
    <div class="usa-radio display-inline-block margin-right-8">
      <!-- prettier-ignore -->
      <input
                  class="usa-radio__input"
                  id="{{ field_name }}-yes"
                  type="radio"
                  name="{{field_name}}"
                  value="yes"
                  {% if onchange %}
                  onchange="{{ onchange }}()"
                  {% endif %}
              />
      <label class="usa-radio__label" for="{{ field_name }}-yes"
        >{% translate "Yes" %}</label
      >
    </div>
    <div class="usa-radio display-inline-block">
      <!-- prettier-ignore -->
      <input
                  class="usa-radio__input"
                  id="{{ field_name }}-no"
                  type="radio"
                  name="{{ field_name }}"
                  value="no"
                  {% if onchange %}
                  onchange="{{ onchange }}()"
                  {% endif %}
              />
      <label class="usa-radio__label" for="{{ field_name }}-no"
        >{% translate "No" %}</label
      >
    </div>
  </div>
</fieldset>
