{% load i18n %}
<div>
{% translate "The local phone numbers below all go to the same place. Local phone numbers are offered as a courtesy for callers who are charged more for long-distance calls." %}
</div>
<div>
{% translate "If you are in a phone queue, you will not move ahead by trying one of the other phone numbers." %}
</div>
<div>
{% translate "If you hang up to call a different number, you will lose your place and move to the end of the line." %}
</div>

<ul class="usa-list">
<li>Camden 856-614-3801</li>
<li>East Orange 973-680-3518</li>
<li>Elizabeth 908-820-3969</li>
<li>Hackensack 201-996-8021</li>
<li>Jersey City 201-217-4602</li>
<li>Neptune 732-775-5131</li>
<li>New Brunswick 732-937-4525</li>
<li>Newark 973-648-7601</li>
<li>Newton 973-383-4432</li>
<li>Passaic 973-458-6724</li>
<li>Paterson 973-977-4307</li>
<li>Perth Amboy 732-937-4525</li>
<li>Phillipsburg 908-859-5467</li>
<li>Plainfield 908-412-7779</li>
<li>Pleasantville 609-441-7581</li>
<li>Randolph 973-328-6490</li>
<li>Somerville 908-704-3366</li>
<li>Thorofare 856-853-4177</li>
<li>Toms River 732-286-6460</li>
<li>Trenton 609-292-6800</li>
<li>Vineland 856-696-6591</li>
</ul>
