// NOTE: Project-wide USWDS configuration only!
// Component styles go in a .module.scss file.
// Global theme settings go in the theme.scss file.

@import "./theme";

// Import specific packages for components being used to avoid CSS bloat.

@import "node_modules/uswds/src/stylesheets/packages/global";

@import "node_modules/uswds/src/stylesheets/packages/form-controls";
@import "node_modules/uswds/src/stylesheets/packages/form-templates";
// @import 'packages/layout-grid';
// @import 'packages/typography';
// @import 'packages/validation';
@import "node_modules/uswds/src/stylesheets/packages/usa-accordion";
@import "node_modules/uswds/src/stylesheets/packages/usa-alert";
@import "node_modules/uswds/src/stylesheets/packages/usa-banner";
// @import 'packages/usa-breadcrumb';
// @import 'packages/usa-button-group';
@import "node_modules/uswds/src/stylesheets/packages/usa-button";
// @import 'packages/usa-card';
// @import 'packages/usa-checklist';
// @import 'packages/usa-collection';
@import "node_modules/uswds/src/stylesheets/packages/usa-footer";
@import "node_modules/uswds/src/stylesheets/packages/usa-header";
// @import 'packages/usa-hero';
// @import 'packages/usa-icon-list';
@import "node_modules/uswds/src/stylesheets/packages/usa-icon";
// @import 'packages/usa-identifier';
// @import 'packages/usa-layout';
// @import 'packages/usa-link';
// @import 'packages/usa-media-block';
// @import 'packages/usa-megamenu';
// @import 'packages/usa-modal';
// @import 'packages/usa-nav-container';
@import "node_modules/uswds/src/stylesheets/packages/usa-nav";
@import "node_modules/uswds/src/stylesheets/packages/usa-navbar";
// @import 'packages/usa-process-list';
// @import 'packages/usa-search';
// @import "node_modules/uswds/src/stylesheets/packages/usa-section";
// @import 'packages/usa-sidenav';
// @import 'packages/usa-site-alert';
// @import 'packages/usa-skipnav';
@import "node_modules/uswds/src/stylesheets/packages/usa-step-indicator";
@import "node_modules/uswds/src/stylesheets/packages/usa-summary-box";
@import "node_modules/uswds/src/stylesheets/packages/usa-table";
// @import 'packages/usa-tag';
@import "node_modules/uswds/src/stylesheets/packages/uswds-utilities";

// global style overrides

.usa-fieldset {
  margin-top: units(3);
  margin-bottom: units(3);
}

.dol-fieldset .usa-legend {
  float: left;
  margin-top: 0;
  margin-bottom: 8px;
}

.dol-fieldset .usa-form-group {
  clear: both;
}

.dol-fieldset.usa-form-group--error .usa-legend {
  font-weight: bold;
}

.dol-fieldset.usa-form-group--error .usa-form-group--error {
  border: none;
  margin-top: 1.5rem;
  padding-left: 0;
}

@media all and (min-width: 1024px) {
  .dol-fieldset.usa-form-group--error .usa-form-group--error {
    padding-left: 1.25rem;
  }
}

.dol-claims-actions {
  a {
    margin-right: 1rem;
  }
}

.usa-link svg {
  margin-left: 2px;
  vertical-align: middle;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.usa-input-prefix,
.usa-input-suffix {
  color: #757575;
  line-height: 0;
  padding: 0 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.usa-step-indicator__header {
  display: none;
}

.claim-id {
  display: block;
  font-weight: bold;
}

/*
  The following pagination styles are taken from USWDS 2.12.0
  until we can safely update to that version
*/

$theme-pagination-background-color: "default" !default;
$theme-pagination-breakpoint: "tablet" !default;
$theme-pagination-button-border-radius: "md" !default;
$theme-pagination-button-border-width: 1px !default;
$theme-pagination-font-family: "ui" !default;

$pagination-context: "Pagination";
$pagination-margin-x: 0.5 !default;
$pagination-margin-y: 2 !default;
$pagination-margin-padding: 1 !default;
$pagination-target-size: 5 !default;

$pagination-current-color: get-color-token-from-bg(
  $theme-pagination-background-color
);
$pagination-link-tokens: get-link-tokens-from-bg(
  $theme-pagination-background-color,
  $theme-link-reverse-color,
  $theme-link-color,
  $context: $pagination-context
);

$pagination-link-token: nth($pagination-link-tokens, 1);
$pagination-hover-token: nth($pagination-link-tokens, 2);

// ---------------------------------
.usa-pagination {
  @include u-margin-y($pagination-margin-y);
  @include typeset($theme-pagination-font-family);
  display: flex;
  justify-content: center;
}

// TODO: Pull out magic number into vars? Could this better?
.usa-pagination .usa-icon {
  height: px-to-rem(18px);
  width: px-to-rem(18px);
}

// Shared styles
// ---------------------------------

// Pagination nav
// ---------------------------------
.usa-pagination__list {
  @include add-list-reset;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: auto;
}

// Pagination nav items
// 1. Prevents chromium browsers from adding additional vertical whitespace
.usa-pagination__item {
  display: inline-flex; // 1
  height: units($pagination-target-size);
  justify-content: center;
  line-height: 1;
  margin-left: units($pagination-margin-x);
  margin-right: units($pagination-margin-x);
  min-width: units($pagination-target-size);

  @include at-media($theme-pagination-breakpoint) {
    flex: 1 0 auto; // flex: 1 won't work in IE11
  }
}

// Don't show previous and next at mobile.
// Functionality exists with page buttons.
.usa-pagination__arrow {
  display: none;
  @include at-media($theme-pagination-breakpoint) {
    display: inherit;
  }
}

.usa-pagination__previous-page {
  @include at-media($theme-pagination-breakpoint) {
    margin-right: units($pagination-target-size / 2);
  }
}

.usa-pagination__next-page {
  @include at-media($theme-pagination-breakpoint) {
    margin-left: units($pagination-target-size / 2);
  }
}

.usa-pagination__link {
  align-items: center;
  color: color($pagination-link-token);
  display: inline-flex;
  text-decoration: none;

  &[disabled] {
    opacity: 0.4 !important;
    pointer-events: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: color($pagination-hover-token);
    text-decoration: underline;
  }

  &:visited {
    color: color($pagination-link-token);
  }
}

.usa-pagination__button {
  align-items: center;
  border-color: adjust-color(color($pagination-current-color), $alpha: -0.8);
  border-radius: radius($theme-pagination-button-border-radius);
  border-style: solid;
  border-width: units($theme-pagination-button-border-width);
  color: color($pagination-link-token);
  display: inline-flex;
  justify-content: center;
  padding: units($pagination-margin-padding);
  text-decoration: none;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    color: color($pagination-hover-token);
    border-color: color($pagination-hover-token);
  }
}

.usa-pagination .usa-current {
  $text-color: if(
    $theme-pagination-background-color == "default",
    $theme-body-background-color,
    $theme-pagination-background-color
  );
  background-color: color($pagination-current-color);
  border-color: transparent;
  color: color($text-color);

  &:hover,
  &:focus,
  &:active {
    background-color: color($pagination-current-color);
    color: color($text-color);
    text-decoration: none;
  }
}

.usa-pagination__overflow {
  align-items: center;
  align-self: stretch;
  display: inherit;
  user-select: none;
  padding: units($pagination-margin-padding);
  opacity: 0.5;
}

// End of copied styles
