// NOTE: Project-wide USWDS configuration only!
// Component styles go in a .module.scss file.
// Global theme settings go in the theme.scss file.

@import "./theme";

// Import specific packages for components being used to avoid CSS bloat.

@import "node_modules/uswds/src/stylesheets/packages/global";

@import "node_modules/uswds/src/stylesheets/packages/form-controls";
@import "node_modules/uswds/src/stylesheets/packages/form-templates";
// @import 'packages/layout-grid';
// @import 'packages/typography';
// @import 'packages/validation';
@import "node_modules/uswds/src/stylesheets/packages/usa-accordion";
@import "node_modules/uswds/src/stylesheets/packages/usa-alert";
@import "node_modules/uswds/src/stylesheets/packages/usa-banner";
// @import 'packages/usa-breadcrumb';
// @import 'packages/usa-button-group';
@import "node_modules/uswds/src/stylesheets/packages/usa-button";
// @import 'packages/usa-card';
// @import 'packages/usa-checklist';
// @import 'packages/usa-collection';
@import "node_modules/uswds/src/stylesheets/packages/usa-footer";
@import "node_modules/uswds/src/stylesheets/packages/usa-header";
// @import 'packages/usa-hero';
// @import 'packages/usa-icon-list';
// @import 'packages/usa-icon';
// @import 'packages/usa-identifier';
// @import 'packages/usa-layout';
// @import 'packages/usa-link';
// @import 'packages/usa-media-block';
// @import 'packages/usa-megamenu';
// @import 'packages/usa-modal';
// @import 'packages/usa-nav-container';
@import "node_modules/uswds/src/stylesheets/packages/usa-nav";
@import "node_modules/uswds/src/stylesheets/packages/usa-navbar";
// @import 'packages/usa-pagination';
// @import 'packages/usa-process-list';
// @import 'packages/usa-search';
// @import "node_modules/uswds/src/stylesheets/packages/usa-section";
// @import 'packages/usa-sidenav';
// @import 'packages/usa-site-alert';
// @import 'packages/usa-skipnav';
@import "node_modules/uswds/src/stylesheets/packages/usa-step-indicator";
// @import 'packages/usa-summary-box';
// @import 'packages/usa-table';
// @import 'packages/usa-tag';
@import "node_modules/uswds/src/stylesheets/packages/uswds-utilities";

// global style overrides

.usa-fieldset {
  margin-top: units(3);
  margin-bottom: units(3);
}

.usa-link svg {
  margin-left: 2px;
  vertical-align: middle;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.usa-input-prefix,
.usa-input-suffix {
  color: #757575;
  line-height: 0;
  padding: 0 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.usa-step-indicator__header {
  display: none;
}
