{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="grid-container">
  <main>
    <h1>{% translate "Contact us" %}</h1>
    <section>
      {% translate "Here's how to reach us if you have questions about unemployment benefits or need help with verifying your identity:" %}
    </section>
    {% include "_swa/AR/contact_details.html" %}
    <section>
      <h2 class="margin-bottom-0 font-sans-sm">For help with Login.gov:</h2>
      [TBD login.gov support info]
    </section>
  </main>
</div>
{% endblock %}
