{% load i18n %}
<section>
  <h2 class="margin-bottom-0 font-sans-sm">{% translate "ADWS UI Hotline" %}:</h2>
  {% include "_swa/AR/phone.html" %}
</section>
<section>
  <h2 class="margin-bottom-0 font-sans-sm">{% translate "ADWS UI Hotline hours of operation" %}:</h2>
  {% include "_swa/AR/hours_of_operation.html" %}
</section>
<section>
  <h2 class="margin-bottom-0 font-sans-sm">{% translate "Email" %}:</h2>
  <a href="mailto:ADWS.Info@arkansas.gov" class="usa-link">ADWS.Info@arkansas.gov</a>
</section>
