{% block content %}
{% load i18n %}
<ul class="usa-list">
  <li>
    {% translate "If you have not yet called the UI Hotline, please call" %}
    <strong>1-844-908-2178</strong>
    {% translate "to have your claim processed." %}
  </li>
  <li>
    {% translate "Register for work online using Arkansas JobLink (AJL) at" %}
    <a href="http://www.arjoblink.arkansas.gov/">www.arjoblink.arkansas.gov</a>.
    {% translate "Visit your local DWS office for assistance." %}
  </li>
</ul>
{% endblock %}
