{% block content %}
{% load i18n %}
<ul class="usa-list">
  <li>
    {% translate "If you have not yet called the UI Hotline, please call" %}
    <strong>{% include "_swa/AR/phone.html" %}</strong>
    {% translate "to have your claim processed." %}
  </li>
  <li>
    {% translate "Register for work online using Arkansas JobLink (AJL) at" %}
    <a class="usa-link usa-link--external" href="http://www.arjoblink.arkansas.gov/">www.arjoblink.arkansas.gov</a>.
    {% translate "Visit your local DWS office for assistance." %}
  </li>
</ul>
{% endblock %}
