{% block content %}
{% load i18n %}
<section>{% translate "We need more information from you before your claim can be completed." %}</section>

<section>{% translate "You must verify your identity. You may do this in person at your local office if you don’t want to verify your identity online." %}</section>

<section>
{% translate "Please call the UI Hotline at" %} {% include "_swa/AR/phone.html" %}
{% blocktranslate %}
within <strong>seven (7) calendar days</strong> of when you submitted your application.
{% endblocktranslate %}
</section>

<section>{% translate "UI Hotline Hours of operation" %}: {% include "_swa/AR/hours_of_operation.html" %}</section>
{% endblock %}
