{% load i18n %}
<h1>{% translate "Verify your identity in person at a local office" %}</h1>
<section>
{% translate "You may verify your identity in-person at your local office if you do not wish to verify your identity online." %}
</section>
<section>
{% translate "We need additional information from you before your claim can be completed." %}
</section>
<section>
{% translate "Please call your local office or 1-844-908-2178 within seven (7) business days of when you submitted your application." %}
</section>
<section>
 <h2>{% translate "More information" %}</h2>
 <div>
  <ul>
    <li><a href="#">{% translate "Find my local office" %}</a></li>
    <li><a href="https://www.dws.arkansas.gov/src/files/500-BOOKLET-8X11-ART-v05-29-2018-1.pdf">{% translate "Your Unemployment Insurance Handbook — Arkansas Division of Workforce Services [PDF]" %}</a></li>
  </ul>
 </div>
</section>
